.maps {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px 0;
    background-color: #dadfea;
}

.maps iframe {
    width: 300px;
    height: 300px;
}

.maps > div {
    width: 50%;
  
    text-align: center;
}
h1{
    text-align: center;
    margin: 30px;
}

@media screen and (max-width: 835px){
    .maps iframe{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 700px){
    .maps{
        flex-direction: column;
        align-items: center;
     
    }
      p{
          font-size: 0.5em;
          
      }
      h2, h1, h3{
          font-size: .75em;
      }
    .maps iframe{
        width: 150px;
        height: 150px;
    }
}