
html{height:100%
}
body{
    background-image: url("../images/burger-hero.jpg");
    background-size:cover;
    height:100%;
}
.container{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.button{
    align-self: center;
}
.blurbcontainer{
    align-self:center;
    display:flex;
    justify-content: space-between;
    width:75%;
    margin-bottom:100px;
}
.blurb{
    background-color: white;
    width:200px;
    height:60px;
}
