
html{height:100%
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
body{
    margin:0;
    height:100%;
    font-family: "patua one"
}
.container{
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-image: url("../images/burger-hero.jpg");
    background-size:cover;
    align-items: center;
    background-attachment: fixed;
    
}
.logotext{
    font-size: 2em;
    margin:100px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,255,255,.8);
    width:50%;
    border-radius:10px;
    text-align: center; 
    line-height: 2em;
    transition: all 0.8s;

}
.blurbcontainer{
    align-self:center;
    display:flex;
    justify-content: center;
    width:75%;
    margin-bottom:100px;
    flex-wrap:wrap;
}
.blurb{
    background-color: white;
    width:200px;
    height:60px;
    background-image:url("../images/file.png");
    background-size:cover;
    border-radius: 4px;
    font-family: "Patua One", cursive;
    height:auto;
    padding:10px;
    text-align:center;
    margin: 10px auto;

}
.nav{
    display:flex;
    justify-content: space-between;
    background-image:url("../images/file.png");
    flex-wrap:wrap;
}

.links{
    display:flex;
    justify-content: flex-end;
    align-items: center;
   
    
}
.links a {
    font-family: 'Patua One', cursive;
    text-decoration: none;
    color: #a24a4a;
}

.links div{
    display:flex;
    align-items:center;
    height:100%;
    padding:0 10px;
}
.links div:hover{
    background-color: #dadfea;
}
/* p{
    line-height: .5;
} */
h2, h1{
    margin:0;
}
.button a{
    color:white;
    text-decoration: none;
    font-size: 3em;
    font-family: "Patua One", cursive;
}
.button a:hover{
    color: #a24a4a;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: black;
}
.video p{
    color: white;
    display: inline;
    width: 300px;
    margin: 0 auto;
    font-size: 1.5em;
    transition: all .8s;
}
@media screen and (max-width: 880px){
    .blurbcontainer{
        flex-direction: column;
    }
}

@media screen and (max-width:700px){
    .logotext{
        font-size: 1.5em;
        width: 75%
    }
    
}